/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
#channel
  margin: 4rem 0 5rem 0
  padding: 1rem
  min-height: 250px

  border-radius: 0.3rem
  box-shadow: 0px 0px 10px 3px #656565;
  background-color: $div-bgcolor

  .message
    font-size: 0.9rem
    margin: 0.3rem 0

    &:first-child
      margin-top: 0

    &_author
      margin-right: 0.3rem
      font-style: italic

