/**
 * Break-point Responsive
 */

$break-point: 990px;

/* Colors */

$text-color: #e8ddcb
$border-color: #031634
$nav-bgcolor: #031634
$body-bgcolor: #036564
$div-bgcolor: #033649
$link-color: #cdb380
$link-color-hover: #e8ddcb
$tag1-bgcolor: #c15354

/* Width / Height */

$navbar-height: 60px

@keyframes slideLeft
    0%
      transform: translateX(100%)

    50%
        transform: translateX(0%)

    65%
        transform: translateX(0.3%)

    80%
        transform: translateX(0.5%)

    95%
        transform: translateX(0.2%)

    100% 
        transform: translateX(0%)
