/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
#toolbar
  display: flex
  justify-content: space-between
  align-items: center

  &_vote, &_fav, &_edit, &_certified
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0 0.4rem

  &_vote
    &_up
      margin-bottom: -0.4rem
    &_down
      font-size: 1.2rem
      margin-top: -0.3rem
    &_content
      font-size: smaller
      color: $link-color

  &_fav
    &_icon
      font-size: 1.4rem
      margin-bottom: 0.1rem
    &_content
      font-size: smaller
      color: $link-color

  &_edit
    &_icon
      margin-bottom: 0.1rem
    &_content
      font-size: smaller
      color: $link-color
  
  &_certified
    &_icon
      margin-bottom: 0.1rem
    &_content
      font-size: smaller
      color: $link-color
