/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
#app
  background-color: $body-bgcolor
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between


#main
  width: 100%
  display: flex
  color: $text-color
  font-family: Oclock

#footer
  bottom: 0
  width: 100%
  height: 6vh
  background-color: transparentize($div-bgcolor, 0.5)
  display: flex
  justify-content: center
  align-items: center
