/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
#home
  margin: 3rem 1.5rem 3rem 3rem
  display: flex
  flex-direction: column
  align-items: center

#home_title
  text-align: center
  font-size: 3rem
  font-weight: bold
  text-transform: uppercase

#border
  height: 2px
  width: 40%
  background-color: $border-color
  
