/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
#home
  display: flex
  flex-direction: column
  align-items: center

#home_title
  margin-top: 3rem
  text-align: center
  font-size: 3rem
  font-weight: bold
  text-transform: uppercase

#home_intro
  font-size: 1rem


#border
  height: 2px
  width: 40%
  background-color: $border-color
  
