/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
#ressource
  display: flex
  flex-direction: column
  align-items: center
  margin: 3rem 1.5rem 3rem 3rem
  @media screen and (max-width: $break-point)
    margin: 3rem

  &_title
    text-align: center
    font-size: 2rem
    text-transform: uppercase
    font-weight: bold
    margin-bottom: 0.5rem

  &_infos
    color: $link-color
    margin-bottom: 3rem

  &_container
    display: flex
    flex-direction: column
    width: 100%
    padding: 1.5rem
    text-align: center
    background-color: $div-bgcolor
    border: 1px solid $border-color
    border-radius: 0.3rem

    p
      line-height: 1.2
      font-size: 1.1rem

  &_toolbar
    margin-top: 1.5rem
    align-self: flex-end

  &_tags
    display: flex
    margin: 1.5rem auto 3rem

  &_preview
    width: 100%

    &_section
      display: flex
      align-items: flex-end
      justify-content: space-between
      padding-bottom: 0.5rem
      margin-bottom: 1rem
      border-bottom: 2px solid $border-color

    &_icon
      width: 30px
      height: 100%

    &_title
      font-weight: 600
      font-size: 1.6rem

  &_capture
    width: 60%
    margin: 3rem auto

  &_image
    width: 100%
    animation-name: zoomInUp
    animation-duration: 2s

// Tags CSS
.ressource_tags
  &_tag
    display: flex
    align-items: stretch
    padding: .30rem .5rem
    font-size: 1rem
    text-transform: lowercase
    margin: 0.3rem 0.5rem
    background-color: $div-bgcolor
    border: 1px solid $div-bgcolor
    border-radius: .25rem
    color: $link-color

.ressource_tags_tag--tag1
  color: $link-color-hover
  background-color: $tag1-bgcolor
  border: none

.ressource_tags_tag--tag2
  color: $div-bgcolor
  background-color: $link-color
  border: none


@keyframes zoomInUp
  from
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)

  60%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0)
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
