/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
// Buttons
.search_button
  margin: 0rem 3rem
  font-family: Oclock
  font-weight: 700
  text-transform: uppercase
  color: $link-color
  background-color: $nav-bgcolor
  border: 1px solid $link-color
  border-radius: .3rem
  padding: .5rem 1rem

  &:hover
    color: $link-color-hover
    border-color: $link-color-hover

// Search page
#search
  margin: 3rem 1.5rem 3rem 3rem

  &_container
    margin-bottom: 3rem
    padding: 1.5rem
    background-color: $div-bgcolor
    border-radius: 0.3rem
    border: 1px solid $border-color

  &_title
    text-align: center
    font-size: 3rem
    font-weight: bold
    text-transform: uppercase

  &_intro
    text-align: center
    font-size: 1rem
    margin-bottom: 3rem

  &_title_abstract
    align-self: flex-start
    font-size: 1.4rem
    text-decoration: underline
    margin-bottom: 0.5rem

  &_abstract
    text-align: justify

  &_buttons
    margin: 4rem 0 0.5rem 0
    text-align: center
  
// Search form component
#search_form

  &_title
    font-weight: 600
    font-size: 1.6rem

  &_intro
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding-bottom:  0.5rem
    border-bottom: 2px solid $border-color
    margin-bottom: 3rem

.search_form

  &_tags
    display: flex
    margin-bottom: 3rem

  &_tag
    width: 20%
    margin: auto
    text-align: center

  &_label
    margin-bottom: 1rem

  &_select,
  &_reset
    border: 1px solid $border-color
    border-radius: 0.3rem
    font-size: 1rem
    background-color: $div-bgcolor
    font-family: inherit
    color: inherit

  &_select
    width: 100%
    padding: 0 0.4rem

  &_reset
    padding: 0.1rem 0.8rem

